﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://gitlab.com/Phoenix510/sebn-mes-stratproject-mn" target="_blank" class="ml-md-auto">Source code</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
