﻿@page "/"

<style>
    #nickInput {
        min-width: 270px;
        width: 20vw;
        text-align: left;
        padding-left: 20px;
    }

    #messageInput {
        padding: 5px;
        width: 25vw;
        min-width: 300px;
        margin-right: 10px;
        border-radius: 5px;
        text-align: left;
        float: left;
        padding-left: 20px;
        margin-bottom: 2vh;
    }

    #sendButton {
        padding: 5px;
        width: 8vw;
        min-width: 80px;
        border-radius: 5px;
    }

    td {
        max-width: 30vw;
        overflow-wrap: break-word;
    }

    #info {
        text-align: right;
    }
</style>

<div class="row">
    <div class="col-8">
        <h1>Hello, customer!</h1>
        <p style="margin-bottom:2vh;">Welcome in a message sender application.</p>
    </div>
    <div class="col-4">
        <p id="info">Status: @_status</p>
        @*<p id="info">Last updated: @_updated</p>*@
    </div>
</div>

<input class="input-group-text" id="nickInput" placeholder="Insert your nick here (optional)" @bind="_nick" />
<div style="clear: both; margin-bottom: 2vh;" />

<input class="input-group-text" id="messageInput" type="text" placeholder="Insert your message" @bind="_nMessage" @onkeyup="@SendMessageOnEnter" />
<button class="btn-primary" id="sendButton" @onclick="SendMessageOnClick">Send</button>

<h2 style="text-align:left; margin-top: 2vh;">Last 10 messages:</h2>
@if (_messages == null)
{
    <p><em>Loading...</em></p>
}
else if (_failed)
{
    <p><em><strong>@WebHandler.error</strong></em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Sender</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in _messages)
            {
                <tr>
                    <td>@message.LocalDateOfCreation.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@message.Nick</td>
                    <td>@message.Content</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    @using BlazorAppMess.Models;
    @inject IJSRuntime JsRuntime;
    @using Newtonsoft.Json;
    @inject Blazored.LocalStorage.ILocalStorageService localStore

    private List<Message> _messages = null;
    private string _nMessage;
    private string _nick = null;
    private bool _failed = false;
    private Status _status = Status.Offline;
    //private DateTime? _dateOfUpdate = null;
    //private string _updated => _dateOfUpdate == null ? "Never" : DateTime.Parse(_dateOfUpdate.ToString()).ToString("dd/MM/yyyy HH:mm");

    private void SendMessageOnClick()
    {
        SendMessage();
    }

    private void SendMessageOnEnter(KeyboardEventArgs e)
    {
        if (e.Code != "Enter" && e.Code != "NumpadEnter") return;

        SendMessage();
    }

    protected override async Task OnInitializedAsync()
    {
        var data = await WebHandler.GetAsync("api/messages/getLast10");
        if (data == WebHandler.error) { _messages = new List<Message>(); _failed = true; _status = Status.Offline; return; }

        _messages = JsonConvert.DeserializeObject<List<Message>>(data);
        _status = Status.Online;
        //_dateOfUpdate = DateTime.Now;

        if (_messages.Count < 1) { _messages = new List<Message>(); return; }
    }

    public async void SendMessage()
    {
        if (string.IsNullOrWhiteSpace(_nMessage)) { await JsRuntime.InvokeAsync<object>("alert", "Message cannot be empty"); return; }
        if (_nMessage.Length > 400) { await JsRuntime.InvokeAsync<object>("alert", $"Message can't have more than 400 chars. \nYour message has {_nMessage.Length} chars!"); return; }
        if (_nick?.Length > 15) { await JsRuntime.InvokeAsync<object>("alert", $"Your nick cannot be larger than 15 chars. \nYour nick has {_nick.Length} chars!"); return; }

        if (string.IsNullOrWhiteSpace(_nick)) _nick = null;
        var newMessage = new Message(_nMessage, DateTime.UtcNow, _nick);
        _messages.Insert(0, newMessage);
        if (_messages.Count > 9)
        {
            _messages.Remove(_messages.Last());
        }
        _nMessage = string.Empty;

        string serializedMessage = JsonConvert.SerializeObject(newMessage);
        var response = await WebHandler.PostAsync("api/messages/Post", serializedMessage);
        if (response == WebHandler.error) { await JsRuntime.InvokeAsync<object>("alert", WebHandler.error); _status = Status.Offline; return; }
        _status = Status.Online;
    }


}