﻿@page "/messages"
@inject HttpClient Http

<style>
    th {
        cursor: pointer;
    }

        th:hover {
            background-color: lightgray;
        }

    #searchInput {
        height: 65%;
        text-align: left;
        padding-left: 20px;
        margin-right: 2px;
        padding-right: 2px;
        width: 90%;
        max-width: 250px;
    }

    td {
        max-width: 30vw;
        overflow-wrap: break-word;
    }

    #buttonRefresh {
        width: 90%;
        max-width: 250px;
        height: 92%;
    }
</style>

<div class="row">
    <h1 class="col-sm-6 col-lg-8 col-6">Messages</h1>
    <div class="col-sm-6 col-lg-4 col-6">
        <input id="searchInput" type="search" class="input-group-text float-right" placeholder="Search" @bind="_searcherText" @bind:event="oninput" />
    </div>

</div>

<div class="row" style="margin-bottom: 10px;">
    <p class="col-sm-7 col-lg-8 col-7">All messages are displayed below</p>
    <div class="col-sm-5 col-lg-4 col-5">
        <button class="float-right btn btn-secondary" id="buttonRefresh" @onclick="GetMessages">Refresh</button>
    </div>
</div>


@if (_toDisplay == null)
{
    <p><em>Loading...</em></p>
}
else if (_failed)
{
    <p><em><strong>@WebHandler.error</strong></em></p>
    <table class="table">
        <thead>
            <tr>
                <th @onclick="OrderByDate">Date</th>
                <th @onclick="OrderByNick">Sender</th>
                <th @onclick="OrderByContent">Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in _toDisplay)
            {
                <tr>
                    <td>@message.LocalDateOfCreation.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@message.Nick</td>
                    <td>@message.Content</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="OrderByDate">Date</th>
                <th @onclick="OrderByNick">Sender</th>
                <th @onclick="OrderByContent">Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in _toDisplay)
            {
                <tr>
                    <td>@message.LocalDateOfCreation.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@message.Nick</td>
                    <td>@message.Content</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
        <button class="btn btn-outline-secondary" style="width: 250px;" @onclick="LoadMoreMessages">@_buttonMoreContent</button>
    </div>
}

@code {
    @using BlazorAppMess.Models;
    @using Newtonsoft.Json;
    @using System.Linq;
    @inject Blazored.LocalStorage.ILocalStorageService localStore

    List<Message> _allMessages = null;
    List<Message> _toDisplay = null;
    string _searchHelper = string.Empty;
    string _searcherText { get { return _searchHelper; } set { _searchHelper = value; Search(); } }

    bool _failed = false;
    bool _descendingDate = false;
    bool _descendingNick = false;
    bool _descendingContent = false;

    string _buttonMoreContent = "Get more";
    const string messagesKey = "messagesKey";

    protected override async Task OnInitializedAsync()
    {
        await GetMessages();
    }

    private async Task<bool> GetMessages()
    {
        _toDisplay = null;

        var serializedMessages = await localStore.GetItemAsync<string>(messagesKey);
        try
        {
            _allMessages = JsonConvert.DeserializeObject<List<Message>>(serializedMessages);
        }
        catch (Exception)
        {
            _allMessages = new List<Message>();
        }

        string date;

        if (_allMessages.Count < 1)
            date = JsonConvert.SerializeObject(new DateTime());
        else
            date = JsonConvert.SerializeObject(_allMessages.Max(x => x.DateOfCreation));

        var data = await WebHandler.PostAsync("api/messages/getAll", date);

        if (data == WebHandler.error) { _failed = true; _toDisplay = new List<Message>();
            _allMessages.ForEach(x => _toDisplay.Add(x)); return false; }

        _allMessages.AddRange(JsonConvert.DeserializeObject<List<Message>>(data).OrderBy(x => x.DateOfCreation).ToList());

        UpdateLocalStorage();

        if (_allMessages.Count < 1) { _allMessages = null; return false; }

        _toDisplay = new List<Message>();
        _allMessages.ForEach(x => _toDisplay.Add(x));
        return true;
    }

    private async Task<bool> LoadMoreMessages()
    {
        var lastDate = _allMessages.Max(x => x.DateOfCreation);
        var date = JsonConvert.SerializeObject(lastDate);

        var data = await WebHandler.PostAsync($"api/messages/GetMoreMessages", date);
        if (data == WebHandler.error) { _buttonMoreContent = "Can't reach the server"; return false; }

        var _tempList = JsonConvert.DeserializeObject<List<Message>>(data).OrderBy(x => x.DateOfCreation).ToList();

        if (_tempList.Count < 1) { _buttonMoreContent = "You're up to date"; return true; }

        _allMessages.AddRange(_tempList);
        UpdateLocalStorage();

        _toDisplay = new List<Message>();
        _allMessages.ForEach(x => _toDisplay.Add(x));
        _buttonMoreContent = "Get more";
        return true;
    }

    private void OrderByDate()
    {
        if (!_descendingDate)
        {
            _toDisplay = _allMessages.OrderByDescending(x => x.DateOfCreation).ToList();
            _descendingDate = true;
            return;
        }

        _toDisplay = _allMessages.OrderBy(x => x.DateOfCreation).ToList();
        _descendingDate = false;
    }

    private void OrderByNick()
    {
        if (!_descendingNick)
        {
            _toDisplay = _allMessages.OrderByDescending(x => x.Nick).ToList();
            _descendingNick = true;
            return;
        }

        _toDisplay = _allMessages.OrderBy(x => x.Nick).ToList();
        _descendingNick = false;
    }

    private void OrderByContent()
    {
        if (!_descendingContent)
        {
            _toDisplay = _allMessages.OrderByDescending(x => x.Content).ToList();
            _descendingContent = true;
            return;
        }

        _toDisplay = _allMessages.OrderBy(x => x.Content).ToList();
        _descendingContent = false;
    }

    private void Search()
    {
        if (_toDisplay == null || _toDisplay?.Count < 1) return;
        if (_toDisplay.Count != _allMessages.Count && _searcherText.Length < 3) { ResetList(); return; }
        else if (_searcherText.Length < 3) return;

        _toDisplay.Clear();
        _toDisplay = _allMessages.Where(x => x.Content.StartsWith(_searcherText)).ToList();
        return;
    }

    private void ResetList()
    {
        _toDisplay.Clear();
        _allMessages.ForEach(x => _toDisplay.Add(x));
    }

    public async void UpdateLocalStorage()
    {
        var serializedMessages = JsonConvert.SerializeObject(_allMessages);
        await localStore.SetItemAsync(messagesKey, serializedMessages);
    }

    public async void ClearLocalStorage()
    {
        await localStore.RemoveItemAsync(messagesKey);
        // await localStore.ClearAsync();
    }
}
